/ehcache
# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea

.DS_Store
.settings
bin
build.sh
spring-test/test-output/
.gradle
argfile*
activemq-data/

/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/
*.log
/log
/_session
/log_sophon
/.idea
/log-tomcat
logs-sophon-dispach-api/
log_sophon/
logs/
log-tomcat/
_session/

out
test-output
.gradletasknamecache
nohup.out

/src/main/resources/config/application-local.properties
/src/main/resources/config/log/logback-local.xml
/src/main/resources/config/logback-spring.xml
/src/main/resources/local/dispatch_config
/src/test/resources/local/dispatch_config
/src/test/resources/local/
/LOG_PATH_IS_UNDEFINED/
/ehcache/
dic/
library.properties
look
look1
retry
ugd_dsr.acl
datastore